.logo {
  background-color: orangered;
  height: 99%;
  color: black;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  margin: 0%;
}

.nav {
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  font-size: medium;
  margin: 0%;
}

.card__img {
  width: 99%;
  height: 99%;
}

.Tarj {
  background-color: rgb(247, 242, 242);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 25px 50px -10px black;
}

  .Tarj__titu {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    width: 7%;
    color: black;
    font-size:x-large;
  
}

.Tarj__desc {
  margin-bottom: 40px;
 
}

.Tarj__link {
  background-color: orangered;
  display: inline-block;
  width: 99%;
  padding: 15px 0;
  text-align: center;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.Tarj__h-img {
  width: 99%;
  border-radius: 30px;
  margin-bottom: 20px;
  
}
  .info__sn{
    background-color: orangered;
    text-align: center;
    font-size: 30px;
    font-style: unset;
    color: black;
    }

    @media (min-widht:320px) {
      .card__img{
          width: 99%;
          height: 99%;
      }
      .info__sa{
          color: yellow;
          background-color: black;
      }
    }
  
    .card__img{
      animation: movimiento 3s linear infinite;
    }
    @keyframes movimiento{
      0%{
          transform: translateY(0);
       }
       50%{
          transform: translateY(5px);
       }
      100%{
          transform: translateY(0);
      }
       }
  
       .register{
        width:99%;
        background-color: orangered;
        padding:30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
    }
    
    .registro{
        width: 99%;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 16px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        
        }
        .bottom{
            border-radius: 30px;
            padding: 12px;
            margin: 56px;
            width: 25%;
            background-color: black;
            color: white;
            
        }

        .main {background-color: black;}
          
        img{
          display: block;
          margin-right: 30px;
          margin-bottom: 30px;
          padding: 15px;
          border-radius: 30px;}
      
    
      .info__sa{
        background-color: black;
        color: white;
        font-size: 27px;
        font-style: normal;
      }