.card__img {
  width: 99%;
  height: 99%; }

.logo {
  background-color: orangered;
  height: 99%;
  color: black;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  margin: 0%; }

.nav {
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  font-size: medium;
  margin: 0%; }
